app:
  name: svc
  image:
    repository: "onecx/onecx-bookmark-svc"
  db:
    enabled: true
  operator:
    keycloak:
      client:
        enabled: true
        spec:
          kcConfig:
            defaultClientScopes: [ ocx-tn:read, ocx-pa-ap:read, ocx-pa-me:write ]
    microservice:
      spec:
        description: OneCX Bookmark Backend Service
        name: OneCX Bookmark SVC
    parameter:
      enabled: true
      spec:
        parameters:
          default:
            bookmark-image-size:
              displayName: Bookmark Image Size Parameter
              description:
              value:
                min: 1
                max: 110000
                message: Image Size Constraint Violation